#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4e4e4e;
  color: white;
}

.plan_add {
    background-color: #0452aa;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 0px 20px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.plan_add:hover {
    background-color: #add8e6;
    color: #333;
}

.exercise_add {
    background-color: #04aa0c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 0px 20px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.exercise_add:hover {
    background-color: #add8e6;
    color: #333;
}

.plan_disable {
    background-color: #cccccc;
    border: none;
    color: #666666;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: not-allowed;
    padding: 0px 20px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    opacity: 0.6;
}

.plan_disable:hover {
    background-color: #cccccc; 
    color: #666666;
}